.bio{
    .section{
        height: 100vh;
        scroll-snap-align: start;

        display: flex;
        align-items: center;
    }

    .intro{
        scroll-snap-align: start;

        width: 100%;
        justify-content: space-around;
        h1 {
            width: 45rem;
            font-size: 5rem;
        }  
        .profile-box{
            width: 25rem;
            height: 25rem;
            border-radius: 50%;
            border: $complementary 3px dashed;
            box-shadow: 0 0 3rem black;

            overflow: hidden;
            img{
                height: 100%;
            }
            .image2{
                position: relative;
                top: -25rem;
            }
        }
        
    }
    .content{
        margin: auto;
        margin-top: 10rem;
        width:60rem;

        h2{
            font-size: 3rem;
            text-align: start;
        }
    }
}

@media only screen and (max-width: 600px) {
    .bio{
        .section{
            height: 95vh;
            width: 80vw;
            padding: 3rem 2rem 2rem 2rem;
        }
    
        .intro{
            flex-direction: column-reverse;
            h1 {
                margin: 0;
                font-size: 4rem;
                width: 80vw;
                height: 20rem;
            }  
            .profile-box{
                width: 15rem;
                height: 15rem;
                img{
                }
                .image2{
                    top: -15rem;
                }
            }
        }
        .content{
            width:25rem;
        }
    }
}