.sidebar-box{
    top: 0;
    right: 0;
    width: 4rem;
    height: 100%;
    padding: 5rem 0 0 0;
    
    background-color: $secondary;
    box-shadow: 0 0 2rem $primary inset;
    
    position: fixed;
    .link-box{
        margin: auto;
        height: 85vh;
        width: 4rem;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        button{
            background-color: transparent;
            border: 0;
        }
        .coppiedIcon{
            z-index: 100;
            position: fixed;
            right: 0;
            margin: 1.5rem 0.5rem 0 0;
        }
    }
}

